.row {
  position: relative;
  display: grid;
  height: 95vh;
  overflow-y: scroll;
  grid-template-columns: repeat(15, minmax(6.66%, 1fr));
  grid-template-rows: repeat(3, minmax(max-content, max-content));

  &[data-size="1"] {
    grid-template-columns: repeat(14, minmax(7.14%, 1fr));
  }

  &[data-size="2"] {
    grid-template-columns: repeat(13, minmax(7.69%, 1fr));
  }

  &[data-size="3"] {
    grid-template-columns: repeat(12, minmax(8.33%, 1fr));
  }

  &[data-size="4"] {
    grid-template-columns: repeat(11, minmax(9.09%, 1fr));
  }

  &[data-size="5"] {
    grid-template-columns: repeat(10, minmax(10%, 1fr));
  }

  &[data-size="6"] {
    grid-template-columns: repeat(9, minmax(11.1%, 1fr));
  }

  &[data-size="7"] {
    grid-template-columns: repeat(7, minmax(14.2%, 1fr));
  }

  &[data-size="8"] {
    grid-template-columns: repeat(6, minmax(16.6%, 1fr));
  }

  &[data-size="9"] {
    grid-template-columns: repeat(5, minmax(20%, 1fr));
  }

  &[data-size="10"] {
    grid-template-columns: repeat(4, minmax(25%, 1fr));
  }

  &[data-size="11"] {
    grid-template-columns: repeat(3, minmax(33.3%, 1fr));
  }

  &[data-size="12"] {
    grid-template-columns: repeat(2, minmax(50%, 1fr));
  }

  &[data-size="13"] {
    grid-template-columns: repeat(1, minmax(100%, 1fr));
  }
}

.tile {
  position: relative;
  padding: 10px;
  margin: 6px;
  cursor: pointer;
  transition: all .5s;
  box-shadow: 0 0 1px 2px #ccc;

  &:hover,
  &:focus {
    box-shadow: 3px 3px 7px 3px #777;
  }

  .title {
    position: absolute;
    bottom: 3px;
    left: 5px;
    width: calc(100% - 10px);
    font-family: Garamond;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }

  img {
    width: 100%;
    padding-bottom: 25px;
  }
}

.list {
  position: relative;
  width: calc(100% - 12px);
  padding: 10px;
  margin: 6px;
  cursor: pointer;
  transition: all .5s;
  box-shadow: 0 0 1px 2px #ccc;
  box-sizing: border-box;


  &:hover,
  &:focus {
    box-shadow: 3px 3px 7px 3px #777;
  }

  .title {
    display: inline-block;
    max-width: calc(100% - 100px);
    margin-left: 20px;
    overflow-x: hidden;
    font-family: Garamond;
    font-size: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }

  img {
    width: 75px;
    vertical-align: middle;
  }
}

#container {
  display: none;
  padding-top: 36px;
}

body {
  margin: 0;
  overflow-y: hidden;
}

#loading {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#movieCount {
  position: fixed;
  top: 0;
  right: 0;
  display: inline-block;
  padding: 5px;
  font-size: 15px;
  color: #fff;
  background: #000;
  border-radius: 0 0 0 6px;
}

#searchBox {
  position: fixed;
  top: 0;
  left: 0;
}

#search {
  width: 300px;
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.star {
  position: absolute;
  right: 0;
  border: 0;
  font-size: 25px;
  background: rgba(255, 255, 255, 0.4);
  color: #4400de;
  border-bottom-left-radius: 8px;
}